{%extends 'base.html'%}
{%block main_area%}
    <div class="my-5">
        <h1 class="text-center mb-5">다항회귀</h1>
        <div class="row justify-content-center">
            <div class="col">
                <form class="card p-3" name="frm">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Degree</span>
                        <select class="form-select" name="degree">
                            <option value="1">1차원</option>
                            <option value="2" selected>2차원</option>
                            <option value="3">3차원</option>
                            <option value="4">4차원</option>
                            <option value="5">5차원</option>
                            <option value="6">6차원</option>
                            <option value="10">10차원</option>
                        </select>
                        <button id="btn-graph" class="btn btn-primary" type="button">그래프 출력</button>
                    </div>
                    <div class="input-group">
                        <input name="hour" class="form-control" placeholder="공부시간을 입력하세용">
                        <button class="btn btn-success">예 상 점 수</button>
                    </div>
                </form>
                <div>
                    <img src="http://via.placeholder.com/200x100" width="100%" id="graph">
                </div>
                <div class="text-center my-3">
                    <h3>예상점수는 <span id="score" style="color:green">0</span>점 입니다!</h3>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#btn-graph").on("click", function(){
            $("#graph").attr("src", "/score/poly/graph?degree=" + $(frm.degree).val());
        });

        $(frm).on("submit", function(e){
            e.preventDefault();
            const hour=$(frm.hour).val();
            if(hour ==""){
                alert("공부시간을 입력하세요!");
            }else{
                $.ajax({
                    type:"get",
                    url:"/score/poly",
                    data:{hour, degree:$(frm.degree).val()},
                    success:function(data){
                        $("#score").html(Math.round(data));
                    }
                })
            }
        })
    </script>
{%endblock%}